doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=title
        link(rel="stylesheet", href="/css/style3.css", type="text/css")
    body 
     div.fermer 
       div.item
        h1#Heure
        h1 le site web Sen Appel est fermet jusqu'a demain a 9H. 
    script(src="/js/heure.js")     